<section id="contacto" class="contact">
  <div class="container">
    <h3>Contáctanos</h3>
    <p>
      Para solicitar presupuestos o resolver dudas, escríbenos por WhatsApp o
      utiliza el formulario a continuación.
    </p>
    <a
      href="https://wa.me/56912345678?text=Hola,%20quiero%20contactar%20con%20Esmeim"
      class="btn"
      target="_blank"
      rel="noopener noreferrer"
      >Enviar Mensaje por WhatsApp</a
    >
    <form
    action="https://formsubmit.co/tu-email@dominio.com"
    method="POST"
    class="contact-form"
    >
    <input type="hidden" name="_next" value="https://tu-dominio.com/gracias.html" />
    
    
    <input type="hidden" name="_captcha" value="false" />

    <input type="text" name="name" placeholder="Nombre" required />
    <input type="email" name="email" placeholder="Correo" required />
    <textarea name="message" placeholder="Mensaje" required></textarea>
    <button type="submit" class="btn btn-submit">Enviar</button>
    </form>
  </div>
</section>
