---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/gracias.css';
---

<Header />

<main class="container">
  <h1>¡Gracias por tu mensaje!</h1>
  <p>Nos pondremos en contacto contigo pronto.</p>
  <a href="/" class="btn">Volver al inicio</a>
</main>

<Footer />


<a
  href="https://wa.me/56912345678"
  target="_blank"
  rel="noopener noreferrer"
  class="whatsapp-float"
  aria-label="Contactar por WhatsApp"
>
  💬
</a>
