<section id="hero" class="hero">
  <div class="container">
    <h2>Soluciones Profesionales en Limpieza y Soporte Industrial</h2>
    <p>
      En Esmeim brindamos servicios especializados de limpieza y mantención de
      maquinaria para la industria papelera y manufacturera
      Garantizamos calidad, rapidez y seguridad.
    </p>
    <a
      href="https://wa.me/56912345678?text=Hola,%20quiero%20más%20información%20sobre%20sus%20servicios"
      class="btn"
      target="_blank"
      rel="noopener noreferrer"
      >Contactar por WhatsApp</a
    >
  </div>
</section>
