<section id="servicios" class="services">
  <div class="container">
    <h3>Nuestros Servicios</h3>
    <div class="cards">
      <article class="card">
        <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="var(--color-primary)" viewBox="0 0 24 24">
          <path d="M3 13h2v-2H3v2zm0-4h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM3 17h2v-2H3v2z"/>
        </svg>
        <h4>Limpieza de Maquinaria</h4>
        <p>
          Limpieza profunda y mantenimiento preventivo para maquinaria pesada,
          garantizando un funcionamiento óptimo y prolongando su vida útil.
        </p>
      </article>

      <article class="card">
        <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="var(--color-primary)" viewBox="0 0 24 24">
          <path d="M12 2L2 7v7c0 5 7 8 10 8s10-3 10-8V7l-10-5z"/>
        </svg>
        <h4>Mantenimiento Preventivo</h4>
        <p>
          Planes personalizados de mantención para minimizar tiempos muertos y
          evitar fallas inesperadas en los equipos industriales.
        </p>
      </article>

      <article class="card">
        <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="var(--color-primary)" viewBox="0 0 24 24">
          <path d="M18 10h-1V6a5 5 0 00-10 0v4H6a2 2 0 00-2 2v6a2 2 0 002 2h12a2 2 0 002-2v-6a2 2 0 00-2-2zM9 6a3 3 0 016 0v4H9V6z"/>
        </svg>
        <h4>Soporte Técnico Especializado</h4>
        <p>
          Servicio técnico rápido y eficiente para resolver problemas en maquinaria y
          equipos, con atención en sitio en Talagante y alrededores.
        </p>
      </article>
    </div>
  </div>
</section>
